{% load static %}
{% include "navigation.html" %}

{% block content %}

{% if submitted %}
<div>
  <p class = "success">
    Congrats on your matching, {{ request.session.username }}!
    <a href= "\profile">Click here to return to your profile.</a>
  </p>
</div>

{% elif not matches_exist and request.session.username and request.session.classchoice %}
<div>
    <p class = "success">
        Sorry, there are no mentees for {{ request.session.classchoice }} at your stated schedule times.
        <a href= "\">Click here to go back.</a>
    </p>
</div>

{% elif matches_exist and request.session.username and request.session.classchoice %}
<div>
    <h2 class="formheader"> Choose a mentee to match with for {{ request.session.classchoice }}, {{ request.session.username }}!</h2>
    <h3 class="formheader"> Mentee Matching Selection Form </h3>
    <h3 class="formheader"> Click on a mentee's username and then submit to match! Clicking on a photo will show you their details.  </h3>
</div>


<form class="matchingform" action="" method="post" novalidate>

    <div class = fieldWrapper>
        <tr>
            {{ form.as_table }}
            <td>&nbsp;</td>
            <td><input type="submit" value="Submit"></td>
            <td><input type="reset" value="Clear"></td>
        </tr>
    </div>
    {% csrf_token %}
    </div>

    <div class = "matchingformblock">

        {% for match in matches %}
        <table class="matchingmentorresults" aria-describedby="mentoroptionname">
        <td>
            <tr>
                <th id="matchingmentorusername">
                    <h2 class="mentorusername" onClick="enterMenteeName(this.id)" id="{{ match.profile.username }}">{{ match.profile.username }}</h2>
                </th>
            </tr>
            <tr>
                <th id="goatprofilepicture">
                    <img class="goatpro" alt="profile picture of a goat" id="{{ match.profile.username }}" onClick="openMentorDetails(this.id)" src="{% static 'images/gblogo.png' %}">
                </th>
            </tr>
            <tr>
        </table>
        <table class="mathchingmentordetails" id="details{{ match.profile.username }}" style="width:0px;" aria-describedby="mentoroption">
                <th id="matchingmentorusernamefield">
                  <div class = fieldWrapper>
                    <strong>Username:</strong> {{ match.profile.username }}
                  </div>
                </th>
            </tr>
            <tr>
                <th id="matchingmentorfirstnamefield">
                  <div class = fieldWrapper>
                    <strong>First Name:</strong> {{ match.profile.firstname }}
                  </div>
                </th>
            </tr>
            <tr>
                <th id="matchingmentorlastnamefield">
                  <div class = fieldWrapper>
                    <strong>Last name:</strong> {{ match.profile.lastname }}
                  </div>
                </th>
            </tr>
            <tr>
                <th id="matchingmentoremailfield">
                  <div class = fieldWrapper>
                    <strong>Email:</strong> {{ match.profile.email }}
                  </div>
                </th>
            </tr>
            <tr>
                <th id="matchingmentorprofessionfield">
                  <div class = fieldWrapper>
                    <strong>Profession:</strong> {{ match.profile.profession }}
                  </div>
                </th>
            </tr>
            <tr>
                <th id="matchingmentormajorfield">
                  <div class = fieldWrapper>
                    <strong>Major:</strong> {{ match.profile.major }}
                  </div>
                </th>
            </tr>
            <tr>
                <th id="matchingmentordateandtimefield">
                  <div class = fieldWrapper>
                    <strong>Matched Day:</strong> {{ match.block.day }}
                    from {{ match.block.starttime_string }} to {{ match.block.endtime_string }}
                    <br>
                  </div>
                </th>
            </tr>
        </td>
        </table>

        {% endfor %}
</form>
{% else %}

<div>
    <h2 class="formheader"> Please log in! </h2>
    <a class="formheader" href ="/login">
        <h3> Login </h3>
    </a>
</div>

{% endif %}
{% endblock content %}

<script>
    var list = document.getElementsByClassName("goatpro");

    urls = [
        '/static/images/profilepics/goatmask.jpg',
        '/static/images/profilepics/Goats-maximili.jpg',
        '/static/images/profilepics/image-20160708-24096-1mslcn7.jpg',
        '/static/images/profilepics/o3i7agz4-720.jpg'
    ];

    for(var i = 0; i < list.length; i++){
        randIndex = Math.floor(Math.random() * urls.length);
        randUrl = urls[randIndex];
   	    list[i].src = randUrl;
    }
</script>