{% load static %}
{% include "navigation.html" %}

{% block content %}

{% if submitted %}
<div>
    <p class = "success">
        Your class choice was successfully added. Thank you.
        <a href= "/">Click here to go back to matching.</a>
    </p>
</div>

{% elif request.session.username %}
<div>
    <h2 class="formheader"> Select a class you'd like to help others in, {{ request.session.username }}!</h2>
    <h3 class="formheader"> Mentor Class Form </h3>
</div>


<form class="gbform" action="" method="post" novalidate>
    <div class = "fieldWrapper">
        <table id="mentorformtable">
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Submit"></td>
            </tr>
        </table>
        {% csrf_token %}
    </div>
</form>

{% else %}

<div>
    <h2 class="formheader"> You need to Login! </h2>
    <a class="formheader" href ="/login">
        <h3> Login </h3>
    </a>
</div>

{% endif %}
{% endblock content %}