{% load static %}
{% include "navigation.html" %}

{% block content %}

{% if not matches_exist and request.session.username and request.session.classchoice %}
<div>
    <p class = "success">
        Sorry, there are no mentors for {{ request.session.classchoice }} at your stated schedule times.
        <a href= "\">Click here to go back.</a>
    </p>
</div>

{% elif matches_exist and request.session.username and request.session.classchoice %}
<div>
    <h2 class="formheader"> Choose a mentor to match with for {{ request.session.classchoice }}, {{ request.session.username }}!</h2>
    <h3 class="formheader"> Mentor Matching Selection Form </h3>
</div>


<form class="matchingform" action="" method="post" novalidate>
    <div class = "matchingformblock">

        {% for match in matches %}
        <table class="matchingmentorresults">
        <td>
            <tr>
                <th>
                    <h2 class="mentorusername" onClick="enterMentorName(this.id)" id="{{ match.profile.username }}">Mentor - {{ match.profile.username }}</h2>
                </th>
            </tr>
            <tr>
                <th>
                  <div class = fieldWrapper>
                    <b>Username:</b> {{ match.profile.username }}
                  </div>
                </th>
            </tr>
            <tr>
                <th>
                  <div class = fieldWrapper>
                    <b>First Name:</b> {{ match.profile.firstname }}
                  </div>
                </th>
            </tr>
            <tr>
                <th>
                  <div class = fieldWrapper>
                    <b>Last name:</b> {{ match.profile.lastname }}
                  </div>
                </th>
            </tr>
            <tr>
                <th>
                  <div class = fieldWrapper>
                    <b>Email:</b> {{ match.profile.email }}
                  </div>
                </th>
            </tr>
            <tr>
                <th>
                  <div class = fieldWrapper>
                    <b>Profession:</b> {{ match.profile.profession }}
                  </div>
                </th>
            </tr>
            <tr>
                <th>
                  <div class = fieldWrapper>
                    <b>Major:</b> {{ match.profile.major }}
                  </div>
                </th>
            </tr>
            <tr>
                <th>
                  <div class = fieldWrapper>
                    <b>Matched Day:</b> {{ match.block.day }}
                    from {{ match.block.starttime_string }} to {{ match.block.endtime_string }}
                    <br>
                  </div>
                </th>
            </tr>
        </td>
        </table>
        {% endfor %}

    <div class = fieldWrapper>
        <tr>
            {{ form.as_table }}
            <td>&nbsp;</td>
            <td><input type="submit" value="Submit"></td>
        </tr>
    </div>  
    {% csrf_token %}
</form>

{% else %}

<div>
    <h2 class="formheader"> Please log in! </h2>
    <a class="formheader" href ="/login">
        <h3> Login </h3>
    </a>
</div>

{% endif %}
{% endblock content %}