  {% block title %}User Creation Form{% endblock title %}
  
  {% block content %}
  <h1>New User</h1>
  
  {% if submitted %}
    <p class="success">
     Your user was submitted successfully. Thank you.
     	<h1> Your first name is {{ firstname }}</h1>
	<h1> Your last name is {{ lastname }}</h1>
	<h1> Your email is {{ email }} </h1>
   </p>
 
  {% else %}
   <form action="" method="post" novalidate>
   <table>
     {{ form.as_table }}
     <tr>
      <td>&nbsp;</td>
       <td><input type="submit" value="Submit"></td>
     </tr>
   </table>
   {% csrf_token %}
   </form>
 {% endif %}
 {% endblock content %}
