{% load static %}
{% include "navigation.html" %}
{% include "loginheader.html" %}

{% block content %}

{% if request.session.username %}
<div>
  <h2 class="formheader"> Welcome, {{ request.session.username }}!</h2>
  <input type="submit" value="Logout">
</div>

{% else %}
<form class="gbform" action="" method="post" novalidate>
  <div class = "fieldWrapper">
    <table id="loginformtable">
      {{ form.as_table }}
      <tr>
        <td>&nbsp;</td>
        <td><input type="submit" value="Submit"></td>
      </tr>
    </table>
    {% csrf_token %}
  </div>
</form>
{% endif %}
{% endblock content %}
