{% load static %}
{% include "navigation.html" %}

<head>
    <meta charset="UTF-8">
    <title>{{ request.session.username }} Profile</title>
</head>
<body>

{% if request.session.username %}
<div id="picandusername">
    <ul id="profile">
        <li>
            <img src="https://dummyimage.com/250x250/000/fff">
        </li>
        <li>
            <h1 id="profilename"> {{ request.session.username }} </h1>
        </li>
    </ul>
</div>

<div id="details">
    <ul>
        <li>
            <span> Username {{ context.username }}</span>
        </li>
        <li>
            <span> First Name </span>
        </li>
        <li>
            <span> Last Name </span>
        </li>
        <li>
            <span> Email </span>
        </li>
        <li>
            <span> Classes Looking For Help In </span>
        </li>
        <li>
            <span> Classes Looking To Mentor </span>
        </li>
    </ul>
</div>

{% else %}

<div>
    <a href="/login">
        <h1> You need to login! </h1>
    </a>
</div>

{% endif %}
</body>
