{% load static %}

<!DOCTYPE html>
<html lang="en">
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="{% static 'js/main.js' %}"></script>
<link rel="shortcut icon" type="image/png" href="{% static 'images/gblogo.png' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">


    <meta charset="UTF-8">
    <title>GoatBoat Mentor</title>

    <div id="navigation">
        <ul id="navbar">
            <li>
                <a id="logoclick" href="/">
                    <img id="gblogo" src="{% static 'images/gblogo.png' %}">
                </a>
            </li>
            {% if request.session.username is None %}
            <li>
                <a class="" href="/createuser/">Create A User</a>
            </li>
            {% endif %}
            <li>
                <a class="" href="/search/">Search Profiles</a>
            </li>
            {% if request.session.username %}
            <li>
                <a class="" href="/match/chooseclass/">Add/Remove A Class</a>
            </li>
            {% endif %}
            {% if request.session.username %}
            <li>
                <a class="" href="/match/">Find a Match</a>
            </li>
            {% endif %}

        {% if request.session.username %}
        </ul>
        <div class="dropdown">
            <button onclick="myProfileDropdown()" class="dropbtn"> {{ request.session.username }} </button>
            <div id="myProfileDropdown" class="dropdown-content">
                <a href="/profile">My Profile</a>
                <a href="/changepassword">Reset Password</a>
                <a href="/login">Logout</a>
            </div>
        </div>

        {% else %}

        <li id="loginlink">
            <a class="" href="/login">Login</a>
        </li>
        </ul>
        {% endif %}

    </div>
