{% load static %}
{% include "navigation.html" %}

{% block content %}

<div>
    <h2 class="formheader">Profile Search</h2>
</div>

<form class="profilesearchform" action="" method="post" novalidate>
    <div class = "fieldWrapper">
            <b>{{ form.username.label_tag }}</b>
            {{ form.username }}
            {{ form.username.errors }}
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Submit"></td>
            </tr>
        {% csrf_token %}
    </div>
</form>

{% if profile.firstname %}
    <div class= "profilesearchform">
        <div class= 'profileblock'>
            <b>First Name</b>: {{ profile.firstname }}<br>
            <b>Last Name</b>: {{ profile.lastname }}<br>
            <b>Profession</b>: {{ profile.profession }}<br>
            <b>Major</b>: {{ profile.major }}<br>
        </div>
    </div>

{% elif profile.failed %}
    <h4 class="validmessage">Please enter a valid profile.</h4>

{% else %}

{% endif %}
{% endblock content %}
