{% load static %}
{% include "navigation.html" %}

{% block content %}

<div>
    <h2 class="formheader">Profile Search</h2>
</div>

<form class="profilesearchform" action="" method="post" novalidate>
    <div class = "fieldWrapper">
            <strong>{{ form.username.label_tag }}</strong>
            {{ form.username }}
            {{ form.username.errors }}
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Submit"></td>
            </tr>
        {% csrf_token %}
    </div>
</form>

{% if profile.firstname %}
    <div class= "profilesearchform">
        <div class= 'profileblock'>
            <strong>First Name</strong>: {{ profile.firstname }}<br>
            <strong>Last Name</strong>: {{ profile.lastname }}<br>
            <strong>Profession</strong>: {{ profile.profession }}<br>
            <strong>Major</strong>: {{ profile.major }}<br>
        </div>
    </div>

{% elif profile.failed %}
    <h4 class="validmessage">Please enter a valid profile.</h4>

{% else %}

{% endif %}
{% endblock content %}
