{% load static %}
{% include "navigation.html" %}

{% block content %}

{% if submitted %}
    <p class="success">
        Your password was changed successfully. Thank you.
        <a href="/">Click here to return to the homepage.</a>
    </p>

{% elif request.session.username %}
    <div>
        <h1 class="formheader">Change Password</h1>
    </div>
    <form class="changepasswordform" action="" method="post" novalidate>
        <div class= "changepasswordblock">
            <div class = "fieldWrapper">
                {{ form.username.label_tag }}
                {{ form.username}}
                {{ form.username.errors}}
            </div>
            <div class = "fieldWrapper">
                {{ form.oldpassword.label_tag }}
                {{ form.oldpassword}}
                {{ form.oldpassword.errors}}
            </div>
            <div class = "fieldWrapper">
                {{ form.confirmoldpassword.label_tag }}
                {{ form.confirmoldpassword}}
                {{ form.confirmoldpassword.errors}}
            </div>
            <div class = "fieldWrapper">
                {{ form.newpassword.label_tag }}
                {{ form.newpassword}}
                {{ form.newpassword.errors}}
            </div>
            <div class = "fieldWrapper">
                {{ form.confirmnewpassword.label_tag }}
                {{ form.confirmnewpassword}}
                {{ form.confirmnewpassword.errors}}
            </div>
        </div>
        <tr>
        <td>&nbsp;</td>
        <td><input type="submit" value="Submit" style="position:relative; top:5px;"></td>
        </tr>
        {% csrf_token %}
    </form>

{% else %}
    <div id="profilenotallowed">
        <a href="/login">
            <h1> Please log in to change your password. </h1>
        </a>
    </div>

{% endif %}
{% endblock content %}